@font-face {
  font-family: f;
  src: url(../font/f.woff) format("woff");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: f;
  cursor: default;
  user-select: none;
}
body {
  background-color: #f3f3f3;
  overflow-x: hidden;
}
main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-inline: 25px;
}

main .left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 25px;
}
main .link {
  display: flex;
  padding: 17px 9px;
  border-radius: 6px;
  justify-content: space-between;
  width: 170px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
main img {
  width: 28px;
}
a {
  text-decoration: none;
  color: #000;
}
a,
img {
  cursor: pointer;
}
.view-qrcode {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  background-color: rgb(51 65 85 / 0.6);
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.view-col {
  background-color: #fff;
  padding: 10px;
  border-radius: 9px;
}
.view-qrcode {
  display: none;
}
.img img {
  width: 450px;
}

nav {
  display: flex;
  justify-content: center;
  column-gap: 25px;
  padding: 15px;
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2);
}

.item {
  display: flex;
  align-items: center;
}
.item a {
  font-size: 17px;
}
.item img {
  width: 23px;
}
#s1 {
  width: 500px;
  height: 520px;
}
#s2 {
  width: 800px;
  height: 650px;
}
@media all and (max-width: 950px) {
  main {
    flex-direction: column;
    align-items: center;
  }
  main .left {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
    margin-left: 0px;
  }
  #s1 {
    width: 400px;
    height: 400px;
  }
  #s2 {
    width: 400px;
    height: 400px;
  }
}

@media all and (max-width: 850px) {
  .img img {
    width: 350px;
  }
  main .right {
    position: absolute;
    top: 24px;
  }
  main .left {
    position: absolute;
    bottom: 70px;
  }
}

@media all and (max-width: 450px) {
  #s1 {
    width: 300px;
    height: 300px;
  }
  .img img {
    width: 250px;
  }
  .top #close {
    width: 15px;
  }
  .top {
    display: flex;
    padding: 3px 0;
  }
  .view-col {
    padding: 2px 5px;
    border-radius: 7px;
  }
}
